canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hidden-data {
	visibility: hidden;
}

.background-color {
	background-color: #6495ED;
}

.background-color-enabled {
	border-style: dotted;
	padding-top: 2px;
	padding-bottom: 5px;
	background-color: #baffbc ;
}

.background-color-disabled {
	border-style: dotted;
	padding-top: 2px;
	padding-bottom: 5px;
	background-color: #ffbaba ;
}

.title-text {
	font-size: 24px;
	text-align: center;
	border-width: 5px;
	border-style: inset;
	background-color: #c9dcff ;
}

.top-instruction {
	margin-top: 10px;
}

.instruction-box {
	border-style: ridge;
	border-width: 8px;
	margin-top: -10px;
	background-color: #c9dcff ;
}

.instruction-text {
	padding-left: 10px;
}

.button-text-green {
	font-size: 18px;
	box-shadow: 0 2px 6px rgba(0,255,0,255);
}

.button-text-red {
	font-size: 18px;
	box-shadow: 0 2px 6px rgba(255,0,0,255);
}

.boxed-text {
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #B4FFFF;
}

.boxed-text-green {
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #00FF00;
}

.boxed-text-red {
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #FF0000;
}

mark.green {
	border-width: 2px;
	border-style: dotted;
	color: #FF0000;
	background-color: #00FF00;
}

mark.red {
	border-width: 2px;
	border-style: dotted;
	color: #00FF00;
	background-color: #FF0000;
}

mark-instruction.green {
	border-width: 5px;
	border-style: double;
	color: #FF0000;
	background-color: #00FF00;
}

mark-instruction.red {
	border-width: 5px;
	border-style: double;
	color: #00FF00;
	background-color: #FF0000;
}