canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hidden-data {
	visibility: hidden;
}

mark.green {
	border-width: 5px;
	border-style: double;
	color: #FF0000;
	background-color: #00FF00;
	border: 
}

mark.red {
	border-width: 5px;
	border-style: double;
	color: #00FF00;
	background-color: #FF0000;
}